// HEADER STYLES
.header {
    margin-top: 3rem;
    
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
    }

    &__image-box {
        display: flex;

        @media only screen and (max-width: $bp-medium) {
            height: 3rem;
            align-self: center;         
            max-width: 20rem;   
        }
    }
}

// INTRO STYLES
.intro {  
    margin-top: 20rem;
    padding-bottom: 20rem;

    @media only screen and (max-width: $bp-medium) {
        padding-bottom: 10rem;
    }

    @media only screen and (max-width: $bp-largest) {
        margin-top: 10rem;
    }

    background: url("../images/bg-section-top-desktop-1.svg") no-repeat bottom;
    background-size: 100% 15rem;
    
    @media only screen and (max-width: $bp-large) {
        background: url("../images/bg-section-top-mobile-1.svg") no-repeat bottom;
        background-size: 100%;
    }

    &__content {
        text-align: center;
        padding: 0 3rem;
    }

    &__text {
        font-size: 1.8rem;
        font-family: $font-open-sans;
        max-width: 53rem;
        margin: 4rem auto;
    }

    &__image-box {
        max-width: 100%;
        margin: 10rem 0;

        @media only screen and (max-width: $bp-medium) {
            margin: 5rem 0;
        }
    }

    &__image {
        max-width: 85%;
    }

    &__box {

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 5rem;
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            max-width: 25rem;
            margin: 0 auto;
        }

        &--picture {
            display: flex;

            @media only screen and (max-width: $bp-medium) {
                margin-left: 3rem;
                height: 3rem;
            }
        }
    }
}

// ILLUSTRATIONS STYLES
.illustrations {

    &__box-content {
        display: flex;
        max-width: 120rem;
        margin: auto;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-large) {
            flex-direction: column-reverse;
            text-align: center;
        }

        &--reverse {
    
            @media only screen and (max-width: $bp-large) {
                flex-direction: column;
            }
        }
    }

    &__box {  
        padding: 0 3rem;

        &--1 {
            background-color: $color-very-pale-blue;
        }

        &--2 {
            padding: 20rem 3rem 25rem 3rem;
            background: url("../images/bg-section-top-desktop-2.svg") no-repeat bottom, url("../images/bg-section-bottom-desktop-1.svg") no-repeat top;
            background-size: 100%;
            
            @media only screen and (max-width: $bp-large) {
                background: url("../images/bg-section-top-mobile-2.svg") no-repeat bottom, url("../images/bg-section-bottom-mobile-1.svg") no-repeat top;
                background-size: 100%;

                flex-direction: column-reverse;
            }

            @media only screen and (max-width: $bp-medium) {
                padding: 10rem 3rem 18rem 3rem;
            }
        }

        &--3 {
            background-color: $color-very-pale-blue;
        }
    }

    &__text {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-family: $font-open-sans;
        line-height: 2.2rem;
        max-width: 50rem;
    }
    
    &__image {
        max-width: 45%;

        @media only screen and (max-width: $bp-large) {
            max-width: 80%;
        }
    }

    &__invite {
        background: url("../images/bg-section-bottom-desktop-2.svg") no-repeat top, url("../images/bg-footer-top-desktop.svg") no-repeat bottom;
        background-size: 100% 15rem;

        @media only screen and (max-width: $bp-largest) {
            background-size: 100% 10rem;
        }

        @media only screen and (max-width: $bp-large) {
            background: url("../images/bg-section-bottom-mobile-2.svg") no-repeat top, url("../images/bg-footer-top-mobile.svg") no-repeat bottom;
            background-size: 100%;
        }

        padding: 30rem 3rem;
        text-align: center;

        @media only screen and (max-width: $bp-largest) {
            padding: 20rem 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: 12rem 3rem;
        }
    }
}

// FOOTER STYLES
.footer {
    background-color: $color-very-dark-cyan;
    color: $color-white;

    &__box {
        padding: 0 3rem;

        & img {
            
            @media only screen and (max-width: $bp-largest) {
                margin-top: 4rem;
            }
        }
    }

    &__content {
        max-width: 120rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10rem 0;
        flex-wrap: wrap;

        @media only screen and (max-width: $bp-medium) {
            padding: 5rem 0;
        }

        @media only screen and (max-width: $bp-largest) {
            justify-content: center;
            flex-direction: column-reverse;
            text-align: center;
        }

        @media only screen and (max-width: $bp-medium) {
            text-align: left;
        }
    }

    &__description-1,
    &__description-2 {
        line-height: 2.3rem;
        font-size: 1.5rem;
        font-family: $font-open-sans;
        margin: 2rem 0 4rem 0;
        font-weight: 600;

        @media only screen and (max-width: $bp-largest) {
            margin: 2rem auto 4rem auto;
        }

        @media only screen and (max-width: $bp-medium) {
            margin: 2rem 0 2rem 0;
        }
        
    }

    &__description-1 {
        max-width: 32rem;
    }

    &__info {
        display: flex;
        margin-bottom: 2rem;
        text-align: center;

        &--phone {
            margin-right: 2rem;
        }

        &--email {
            margin-right: 1.75rem;
        }

        &--text {
            font-size: 1.5rem;
            font-family: $font-open-sans;
        }

        @media only screen and (max-width: $bp-largest) {
            justify-content: center;
            align-items: flex-end;
        }

        @media only screen and (max-width: $bp-medium) {
            justify-content: left;
            height: 3.5rem;
            margin: 0;
        }
    }

    &__icons {
        margin-top: 6rem;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 3rem;
        }

        &--icon {
            font-size: 4rem;
            text-decoration: none;
            color: $color-white;
            
            &:not(:last-child) {
                margin-right: 2rem;
            } 

            @media only screen and (max-width: $bp-medium) {
                font-size: 2.5rem;
            }
        }
    }

    &__description-2 {
        max-width: 37rem;
    }

    &__input {
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: $bp-largest) {
            justify-content: center;
        }

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }

        &--field {
            width: 30rem;
            margin-right: 3rem;
            outline: none;
            border-radius: 5px;
            border: 1px solid $color-white;
            padding: 1rem;

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
}
