.access {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: -11rem;
    margin: 5rem 2rem -11rem 2rem;

    &__content {
        padding: 5rem 0 3rem 0;
        background-color: $color-dark-blue-1;
        border-radius: 10px;
        box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.75);
    }

    &__text {
        display: flex;
        color: $color-white;
        font-size: 1.4rem;
        font-family: $font-raleway;
        line-height: 1.5;
        max-width: 70%;
        margin: 2rem 15% 3rem 15%;
    }

    &__input-box {
        display: flex;
        justify-content: center;

        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }
    }

    &__input {
        padding: 2rem;
        border-radius: 100px;
        width: 50%;
        margin-right: 2rem;
        outline: none;
        border: 1px solid $color-white;

        @media only screen and (max-width: $bp-large) {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 2rem;
            padding: 1.5rem;
        }
    }
}
