.header {
    padding-bottom: 5rem;
    background-color: $color-dark-blue-1;
    padding-top: 10rem;

    @media only screen and (max-width: $bp-small) {
        padding-top: 5rem;
    }

    @media only screen and (max-width: $bp-smaller) {
        padding: 2rem 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__image-box {
        display: flex;
        flex-grow: 3;

        @media only screen and (max-width: $bp-large) {
            flex-grow: 2;
        }

        @media only screen and (max-width: $bp-medium) {
            flex-grow: 1.5;
        }

        @media only screen and (max-width: $bp-small) {
            flex-grow: 1;
        }

        @media only screen and (max-width: $bp-smaller) {
            width: 1%;
        }
    }

    &__image {

        @media only screen and (max-width: $bp-smaller) {
            height: 50%;
            align-self: center;
        }
    }

    &__nav {
        list-style-type: none;
        display: flex;
        font-size: 1.4rem;
        color: $color-white;
        flex: 1;
        justify-content: space-between;
        font-family: $font-raleway;
        align-items: center;

        @media only screen and (max-width: $bp-smaller) {
            flex: 1.5;
            width: 100%;
        }
    
    
        &--link:link,
        &--link:visited {
            font-size: 1.4rem;
            color: $color-white;
            text-decoration: none;
            display: block;
            border: 1px solid transparent;
        }
    
        &--link:hover,
        &--link:active {
            color: $color-white;
            border-bottom: 1px solid $color-white;
        }
    }
}
