@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    text-align: center;
}

p {
    color: hsl(229, 6%, 66%);
    margin-bottom: 20px;
}

.first, .second {
    color: hsl(234, 12%, 34%);
}

.first {
    margin-top: 50px;
    font-size: 44px;
    font-weight: 200;
}

.second {
    font-size: 44px;
    margin-bottom: 20px;
}

.box {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    width: 350px;
    transition: 300ms;
}

.box img {
    display: block;
    margin-left: auto;
}

.box p {
    font-size: 15px;
    margin: 10px 0 30px;
}

.box-cyan {
    border-top: 3px solid hsl(180, 62%, 55%);
}

.box-red {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.box-blue {
    border-top: 3px solid hsl(212, 86%, 64%);
}

.box-orange {
    border-top: 3px solid hsl(34, 97%, 64%);
}

.box-position {
    transform: translateY(50%);
}

@media (max-width: 600px) {
    .first {
        font-size: 36px;
    }

    .box-position {
        transform: translateY(0%);
    }
}
