// Colors
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

// Fonts
$font-primary: 'Alata', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 72em;  // 1152px
$bp-large: 67em;  // 1072px
$bp-medium: 51em;   // 816px
$bp-small: 38.5em;  // 616px
$bp-smaller: 35em; // 560px
$bp-smallest: 26.5em; // 424px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // Makes 1rem = 10px -- 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 45%;
    }
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

// .search__icon {
//     width: 1rem;
//     height: 1rem;
//     fill: red;
// }
