.footer {
    background-color: $color-black;
    padding: 0 3rem;

    &__logo {
        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 2em;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        padding-top: 4rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-smaller) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;
        }
    }

    &__icon {
        height: 1rem;
        width: 1rem;

        @media only screen and (max-width: $bp-smaller) {
            flex-direction: column;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4rem;

        @media only screen and (max-width: $bp-smaller) {
            flex-direction: column;
            justify-content: center;
            // padding-bottom: 2em;
        }
    }

    &__nav {
        font-size: 1.8rem;
        list-style: none;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-smaller) {
            text-align: center;
            margin-bottom: 2em;
        }

        &--link {
            border-bottom: 1px solid $color-white none;
        }
    
        &--link:link,
        &--link:visited {
            text-decoration: none;
            color: $color-white;
            font-family: $font-primary;
        }
    
        &--link:hover,
        &--link:active {
            padding-bottom: 3px;
            border-bottom: solid;
        }
    }

    &__text {
        flex-grow: 3;
        color: $color-dark-gray;
        font-family: $font-primary;
        font-size: 1.7rem;
        text-align: end;

        @media only screen and (max-width: $bp-smaller) {
            text-align: center;
        }
    }
}
