// COLORS
$color-blue: hsl(223, 87%, 63%);
$color-pale-blue: hsl(223, 100%, 88%);
$color-light-red: hsl(354, 100%, 66%);
$color-gray: hsl(0, 0%, 59%);
$color-very-dark-blue: hsl(209, 33%, 12%);
$color-white: #fff;

$bp-largest: 62em; // 1000px
$bp-large: 44em; // 704px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // Makes 1rem = 10px -- 10px/16px = 62.5%

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 40%;
    }
}

body {
    font-size: 2rem;
    // min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0 2rem;

    @media only screen and (max-width: $bp-large) {
        min-height: none;
    }
    
}
