// Colors
$color-dark-blue-1: hsl(217, 28%, 15%); // intro and email sign up background
$color-dark-blue-2: hsl(218, 28%, 13%); // main background
$color-dark-blue-3: hsl(216, 53%, 9%); // footer background
$color-dark-blue-4: hsl(219, 30%, 18%); // testimonials background

$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-light-red: hsl(0, 100%, 63%);

$color-white: hsl(0, 0%, 100%);

// Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 98em;  // 1568px
$bp-large: 81.5em;  // 1034px
$bp-medium: 69em;   // 1104px
$bp-small: 50em; // 800px
$bp-smaller: 37.5em; // 600px
$bp-smallest: 26.5em; // 424px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // Makes 1rem = 10px -- 10px/16px = 62.5%
    background-color: $color-dark-blue-2;

    @media only screen and (max-width: $bp-large) {
        
    }
}

.container-1 {
    padding: 0 15rem;

    @media only screen and (max-width: $bp-large) {
        padding: 0 10rem;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-smaller) {
        padding: 0 3rem;
    }
}

.container-2 {
    max-width: 80rem;
    margin: 0 auto;
}

.container-3 {
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}
