.footer {
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-color: $color-dark-blue-3;

    @media only screen and (max-width: $bp-large) {
        padding-bottom: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding-bottom: 3rem;
    }

    &__image {
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: center;
            align-items: left;
        }
    }

    &__location {
        display: flex;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 1rem;
        }

        &--image {
            height: 1.5rem;
            margin-right: 2.5rem;
            margin-top: 0.5rem;
        }

        &--text {
            font-size: 1.4rem;
            color: $color-white;
            font-family: $font-raleway;
            max-width: 30rem;
            line-height: 2rem;

            @media only screen and (max-width: $bp-small) {
                max-width: 100%;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;

        &--box {
            display: flex;
            margin-bottom: 2rem;

            @media only screen and (max-width: $bp-small) {
                margin-bottom: 2rem;
            }
        }

        &--image {
            height: 1.5rem;
            margin-right: 2.5rem;

            @media only screen and (max-width: $bp-small) {
                margin-right: 2rem;
            }
        }

        &--text {
            font-size: 1.4rem;
            color: $color-white;
            font-family: $font-raleway;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 2rem;
        }
    }

    &__nav {
        list-style: none;
        color: $color-white;
        text-decoration: none;
        font-family: $font-raleway;
        
        &--item {
            margin-bottom: 1rem;
        }

        &--link:link,
        &--link:visited {
            font-size: 1.4rem;
            color: $color-white;
            text-decoration: none;
            display: block;
        }
    
        &--link:hover,
        &--link:active {
            color: $color-white;
            font-family: $font-open-sans;
        }
    }

    &__social {
        @media only screen and (max-width: $bp-small) {
            display: flex;
            justify-content: center;
            width: 40%;
            margin-left: 30%;
        }

        &--image {
            height: 1.5rem;
            border: 1px solid black;
            border-radius: 50%;
            box-sizing: unset;
            padding: 0.7rem;
            filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
            margin-left: 1rem;

            &:hover {
                filter: invert(78%) sepia(77%) saturate(296%) hue-rotate(114deg) brightness(94%) contrast(87%);
            }
        }
    }
}
