@media screen and (max-width: 768px) {
    body {
        background: url('/images/bg-intro-mobile.png');
        background-color: hsl(0, 100%, 74%);
	    color: #fff;
    }

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}

	.container {
		flex-direction: column;
	}
}