// Colors
$color-bright-orange: hsl(31, 77%, 52%);
$color-dark-cyan: hsl(184, 100%, 22%);
$color-very-dark-cyan: hsl(179, 100%, 13%);
$color-transparent-white: hsla(0, 0%, 100%, 0.75); // Paragraphs
$color-very-light-gray: hsl(0, 0%, 95%); // Background, headings, buttons

// Fonts
$font-primary: 'Big Shoulders Display', cursive;
$font-secondary: 'Lexend Deca', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // Makes 1rem = 10px -- 10px/16px = 62.5%
}

.container {
    // max-width: 114rem;
    max-width: 85rem;
    margin: 0 auto;
    
}
