.interactive {
    padding: 15rem 3rem 15rem 3rem;

    @media only screen and (max-width: $bp-large) {
        padding: 10rem 3rem 10rem 3rem;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 8rem 3rem 8rem 3rem;
    }

    &__content {
        display: flex;
        width: 100%;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
    }

    &__picture-box {
        width: 65%;

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__text {
        background-color: $color-white;
        align-self: flex-end;
        padding: 11rem;
        padding-bottom: 0;
        padding-right: 0;
        display: block;
        width: calc(35% + 15rem);
        margin-left: -15rem;
        // transform: translateX(-15rem);
        z-index: 10;

        @media only screen and (max-width: $bp-largest) {
            padding: 7em;
            padding-bottom: 0;
            padding-right: 0;
        }

        @media only screen and (max-width: $bp-small) {
            align-self: center;
            width: 100%;
            padding: 2em 0 0 0;
            margin: 0;
            text-align: center;

            @media only screen and (max-width: $bp-smallest) {
                margin-top: 2em;
            }
        }

        &--paragraph {
            margin-top: 4rem;
            font-family: $font-primary;
            font-size: 1.5rem;
            color: $color-dark-gray;
            line-height: 1.9;

            @media only screen and (max-width: $bp-smallest) {
                margin-top: 1em;
            }
        }
    }
}
