.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: $color-very-light-gray;

    @media only screen and (max-width: 745px) {
        padding: 10em 3em;
    }

    &__icon {
        margin-bottom: 3rem;
    }
    
    &__content {
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        perspective: 1px;  

        @media only screen and (max-width: 745px) {
            flex-direction: column;
        }
    }

    &__box {
        padding: 4rem;
        
        &--1 {
            background-color: $color-bright-orange;
            color: $color-bright-orange;
        }

        &--2 {
            background-color: $color-dark-cyan;
            color: $color-dark-cyan;
        }

        &--3 {
            background-color: $color-very-dark-cyan;
            color: $color-very-dark-cyan;
        }
    }
}
